html,body{
    font-family: "WorkSans";
}
a{
    text-decoration: none;
    color:#000;
}
a:hover{
    text-decoration: none;
    color:#000;
}
a:visited, a:active, a:after{
    text-decoration: none;
}
.usg-logo {
    width:20%;
    height:20%;
    margin-left:4%
}
.tel{
    margin-right:4%;
    margin-top: 15px;
}
.telephone-border {
    margin-top:12px;
}
.telephone {
    font-size:1.6em;
}
.card-absolute{
    -webkit-box-shadow: -1px 1px 20px 3px rgba(225,226,237,1);
    -moz-box-shadow: -1px 1px 20px 3px rgba(225,226,237,1);
    box-shadow: -1px 1px 20px 3px rgba(225,226,237,1);
    position: absolute;
    top:67%;
    left:12.5%;
    padding:0 10px 0 10px;
    max-width: 75%;
    width:75% !important;
    height:260px;
    background: #fff; z-index:1;
    margin-bottom: 3%
}
.content-section, .partner-section,.job-section,.network-section{
    width:75%;
}

.card-absolute h1{
    color:#ac8222;
}
.icon-link-set{
    float:left;
    text-align: center;
    width:20%;
    padding:0;
    margin:0;
}
.fa2{
background: none;
}
.fa2 i{
    color:#ac8222;
}
.fa3{
    display: none;
}
.opac{
    display: block;

}
.img-hover{
    opacity: 0.2;
    background: #ccc;
}

.img-hover:hover{
    opacity: 1;
    background: #ccc;
}
.opac img{
    width:70%;
    height:70%
}
.social-icon  {
    border-radius: 50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    font-size:1.3em;
    color:#fff;
    padding:10px;
}

.facebook {
    background: #3b5998;
    opacity: .6
}
.linkedin:hover {
    background: #0077B5;
    opacity: 1;
    color:#ffffff;
}
.linkedin {
    background: #0077B5;
    opacity: .6
}
.facebook:hover {
    background: #3b5998;
    opacity: 1;
    color:#ffffff;
}
.space-top {
    margin-top: -8%;
}
.usg-padding {
    padding:0;margin:0;
}
.job-section {
    margin-top: -2%;
    padding-bottom: 0;
    margin-bottom: 0
}
.image-merge-profile{

}

.profile-section {
    margin-top: -2%;
    background: #AA842B;
    color:#fff;
    padding-bottom: 25px;
}
.profile-div{
    margin-top:-5%;
}
.profileMsg{
    margin-top:-18px; line-height: 170%;
}
.partner-section {
    margin-top:-8%;
}
.set-col{
    width:25%;
    float:left;
}
.content-section {
    margin-top:3%
}
.navigation-header {
    background: #fff;
}
.ons-img {
    width:100%;
    height:100%;
}
.content-img {
    width: 60%;
    height: 60%;
}
.div-hr {
    margin-left:-5px;
    width:42%;
    margin-top:-10px;
    padding:0;
    font-weight: normal;
}
.div-hr-small{
    margin:-15px 0 0 0px;
    width:6%;
    /*padding-top: -10px;*/
}
.div-hr hr,.div-hr-small hr{
    border-top:2px solid #AA842B;
    width:auto;
    font-weight:bold;
}

.div-hr-map{
    margin-left:0;
    width:13%;
    border-top:2px solid #ffffff;
}
.job-section-subdiv{
    vertical-align: text-bottom;
    margin-top:60px
}
.footer-clear-space{
    margin-top: -2%;
}
.footer-div {
    height:80px;
    -webkit-box-shadow: -1px -6px 3px -1px rgba(225,226,237,1);
    -moz-box-shadow: -1px -6px 3px -1px rgba(225,226,237,1);
    box-shadow: -1px -6px 3px -1px rgba(225,226,237,1);
}
.footer-div span{
    color:#a57c1d;
}
.footer-div img {
    width:8%;
    height:8%;
}