html {
       -webkit-text-size-adjust: none;
    font-family: "WorkSans";
   }
body{
    font-family: "WorkSans";
}


@media only screen and (min-width: 768px) and (max-width: 959px) {
    /* -------------------------------------------- */
    /* ------------------Header-------------------- */

    /* -------------------------------------------- */
    /* ------------------Content------------------- */

    /* -------------------------------------------- */
    /* ------------------Footer-------------------- */

    /* -------------------------------------------- */
    /* ------------------Other----------------*---- */

}
@media only screen and (min-width: 768px) and (max-width: 799px){

    .borderedLeft{
        position: absolute;
        top:0;
        right:80px;
        height:110px;
        border-left: 2px solid #AA842B;
    }

.facebook,.linkedin{
opacity: 1;
}
    .telephone{
        color:#9c6e00;
        font-size:40px;
    }
    .job-section-subdiv {
        margin-top:0;
    }

    .tel{
        margin-right:10px;
        margin-top: 30px;
    }
    .tel span{
        display:none;

    }
    .usg-logo {
        width:60%;
        height:60%;
    }
    .content-img {
        width: 90%;
        height: 90%;
    }
    .card-r{
        padding-left:0;
        padding-right:0;
        margin-left:0;
        margin-right:0;
        width:100%;
    }
    .card-absolute{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        position: relative;
        top:0;
        /*left:0;*/
        padding:5px;
        width: auto;
        height:auto;
        background:none;
        margin-bottom:0;
    }
    .card-absolute h1{
        color:#ac8222;
        text-align: center;
        font-size:25px;
        font-weight:bolder;
        font-family: "WorkSans";
    }
    .card-absolute h3{
        text-align: center;
        font-size: 20px;
        margin-top:-6px;
        font-family: "WorkSans";
    }
    .icon-link-set{
        float:left;
        text-align: center;
        width:30%;
        padding: 10px;
    }
    .icon-link-set-down{
        float:left;
        text-align: center;
        width:30%;
        margin-left:10%;
        padding: 10px;
    }
    .fa2{
        display: none;
    }
    .fa3{
        background: none;
        display: block;
        -webkit-box-shadow: -5px -1px 13px 5px rgba(225,226,237,0.86);
        -moz-box-shadow: -5px -1px 13px 5px rgba(225,226,237,0.86);
        box-shadow: -5px -1px 13px 5px rgba(225,226,237,0.86);
        margin-bottom: 5%;
        height:220px;
        padding-top:10px;
         padding-left: 70px;
    }
    .fa3 i{
        color:#ac8222;
    }
    .ons-hide {
        display: none;
    }
    .image_right{
        display: none;
    }
    .image-left{
        width:100%;
        margin-bottom:10px;
        margin-top:20px
    }
    .content-section, .partner-section,.job-section{
        width:100%;
        margin-top:10px;
    }

    .image-merge-profile{
        margin-top:-10%;
        z-index: -20;
    }
    .network-section{
        width: 85%;
        margin-left:30px;
        margin-right:20px;
    }
    .set-col{
        width:42%;
        padding:15px;
        float:left;
        margin-left:15px;
    }
    .opac img{
        width:100%;
        height:100%
    }

    .fixed-button{
        position: fixed;
        bottom:0;
        width:100%;
        padding:10px;
        background: #fff;
        -webkit-box-shadow: -5px -1px 13px 5px #cccccc;
        -moz-box-shadow: -5px -1px 13px 5px #cccccc;
        box-shadow: -5px -1px 13px 5px #cccccc;
    }
    .hide{
        display: block !important;
    }
    .show{
        display: none !important;
    }

    #social-btn{
        display:none;
    }
    }

@media only screen and (min-width: 800px) and (max-width: 1024px){

    .card-absolute {
        -webkit-box-shadow: -1px 1px 20px 3px rgba(225, 226, 237, 1);
        -moz-box-shadow: -1px 1px 20px 3px rgba(225, 226, 237, 1);
        box-shadow: -1px 1px 20px 3px rgba(225, 226, 237, 1);
        position: absolute;
        top: 25%;
        left: 10%;
        padding: 0px;
        max-width: 80% !important;
        width: 80%;
        height: 290px;
        background: #fff;
        z-index: 1;
        margin-bottom: 3%
    }

    .content-section {
        margin-top:10%
    }




    }

@media only screen and (max-width: 1167px) {

}

@media only screen and (min-width: 620px) and (max-width: 767px) {
    /* -------------------------------------------- */
    /* ------------------Header-------------------- */
    .telephone-border{
        padding: 0 10px 0 10px;
        border-left: 2px solid #AA842B;

    }
    .telephone{
        color:#9c6e00;
    }
    .telephone-border span{
        display:none;

    }
    .usg-logo {
        width:60%;
        height:60%;
    }
    .content-img {
        width: 90%;
        height: 90%;
    }
    .image-merge-profile{
        margin-top:-10%;
        z-index: -20;
    }
    .card-absolute{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        position: relative;
        top:0;
        /*left:0;*/
        padding:2px;
        width: auto;
        height:auto;
        background:none;
        margin-bottom:0;
    }
    .card-shadow{
        -webkit-box-shadow: -5px -1px 13px 5px rgba(225,226,237,0.86);
        -moz-box-shadow: -5px -1px 13px 5px rgba(225,226,237,0.86);
        box-shadow: -5px -1px 13px 5px rgba(225,226,237,0.86);
        margin-bottom: 2%


    }
    .facebook,.linkedin{
opacity: 1;
}
    .hide{
        display: block !important;
    }
    .show{
        display: none !important;
    }
    .col-xs-4,.col-xs-6{
        padding: 10px;
    }
.facebook,.linkedin{
opacity: 1;
}

    .div-hr {
        margin-left: -3px;
        width: 100%;
    }
    .ons-hide {
        display: none;
    }
    .div-hr-small{
        margin: -15px 0 2px 0;
        width: 15%;
        /*padding-top: -10px;*/
    }
    .image_right{
        display: none;
    }
    .move-up {
        margin-top: -15%;
    }
    .partner-section {
        margin-top:0;
        -webkit-box-shadow: -1px -6px 3px -1px rgba(225,226,237,1);
        -moz-box-shadow: -1px -6px 3px -1px rgba(225,226,237,1);
        box-shadow: -1px -6px 3px -1px rgba(225,226,237,1);
    }
    .profile-div{
        margin-top:5%
    }
    .div-hr-map{
        margin-left:0;
        width:40%;
        border-top:2px solid #ffffff;
    }
    .job-section-subdiv {
        margin-top:0;
    }
    .gradient-hr-line {
        margin-top: 15%
    }
    .show{
        display: none !important;
    }
    #social-btn{
        display:none;
    }
    .footer-move-up{
        margin-top:-2%
    }
    .footer-div img {
        width:30%;
        height:30%;
    }
    /* -------------------------------------------- */
    /* ------------------Content------------------- */

    /* -------------------------------------------- */
    /* ------------------Footer-------------------- */

    /* -------------------------------------------- */
    /* ------------------Other----------------*---- */
}

@media only screen and (min-width: 480px) and (max-width: 619px) {
    /* -------------------------------------------- */
    /* ------------------Header-------------------- */
    .telephone-border{
        padding: 0 10px 0 10px;
        border-left: 2px solid #AA842B;

    }
    .image-merge-profile{
        margin-top:-10%;
        z-index: -20;
    }
    .facebook,.linkedin{
opacity: 1;
}
    .telephone{
        color:#9c6e00;
    }
    .telephone-border span{
        display:none;

    }
    .tel span{
        display:none;

    }
    .usg-logo {
        width:60%;
        height:60%;
    }
    .content-img {
        width: 90%;
        height: 90%;
    }

    .card-absolute{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        position: relative;
        top:0;
        /*left:0;*/
        padding:2px;
        width: auto;
        height:auto;
        background:none;
        margin-bottom:0;
    }
    .card-shadow{
        -webkit-box-shadow: -5px -1px 13px 5px rgba(225,226,237,0.86);
        -moz-box-shadow: -5px -1px 13px 5px rgba(225,226,237,0.86);
        box-shadow: -5px -1px 13px 5px rgba(225,226,237,0.86);
        margin-bottom: 2%


    }
    .hide{
        display: block !important;
    }
    .show{
        display: none !important;
    }
    .col-xs-4,.col-xs-6{
        padding: 10px;
    }


    .div-hr {
        margin-left: -3px;
        width: 100%;
    }
    .ons-hide {
        display: none;
    }
    .div-hr-small{
        margin: -15px 0 2px 0;
        width: 15%;
        /*padding-top: -10px;*/
    }
    .image_right{
        display: none;
    }
    .move-up {
        margin-top: -15%;
    }
    .partner-section {
        margin-top:0;
        -webkit-box-shadow: -1px -6px 3px -1px rgba(225,226,237,1);
        -moz-box-shadow: -1px -6px 3px -1px rgba(225,226,237,1);
        box-shadow: -1px -6px 3px -1px rgba(225,226,237,1);
    }
    .profile-div{
        margin-top:5%
    }
    .div-hr-map{
        margin-left:0;
        width:40%;
        border-top:2px solid #ffffff;
    }
    .job-section-subdiv {
        margin-top:0;
    }
    .gradient-hr-line {
        margin-top: 15%
    }
    .show{
        display: none !important;
    }
    #social-btn{display:none;}
    .footer-move-up{
        margin-top:-2%
    }
    .footer-div img {
        width:30%;
        height:30%;
    }
    /* -------------------------------------------- */
    /* ------------------Content------------------- */

    /* -------------------------------------------- */
    /* ------------------Footer-------------------- */

    /* -------------------------------------------- */
    /* ------------------Other----------------*---- */

}

@media only screen and (max-width: 479px) {
    /* -------------------------------------------- */
    /* ------------------Header-------------------- */

    .borderedLeft{
       position: absolute;
        top:0;
        right:60px;
        height:59px;
        border-left: 2px solid #AA842B;
    }
    .image-merge-profile{
        margin-top:-10%;
        z-index: -20;
    }
.facebook,.linkedin{
opacity: 1;
}
    .telephone{
     color:#9c6e00;
    }

    .tel{
        margin-right:20px;
    }
    .tel span{
        display:none;

    }
    .usg-logo {
        width:60%;
        height:60%;
    }
    .content-img {
        width: 90%;
        height: 90%;
    }
.card-r{
    padding-left:0;
    padding-right:0;
}
    .card-absolute{
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        position: relative;
        top:0;
        /*left:0;*/
        padding:5px;
        width: auto;
        height:auto;
        background:none;
        margin-bottom:0;
    }
    .card-absolute h1{
        color:#ac8222;
        text-align: center;
        font-size:25px;
        font-weight:bolder;
        font-family: "WorkSans";
    }
    .card-absolute h3{
        text-align: center;
        font-size: 20px;
        margin-top:-6px;
        font-family: "WorkSans";
    }
    .icon-link-set{
        float:left;
        text-align: center;
        width:30%;
        padding: 10px;
    }
    .icon-link-set-down{
        float:left;
        text-align: center;
        width:30%;
        margin-left:10%;
        padding: 10px;
    }
    .fa2{
        display: none;
    }
    .fa3{
        background: none;
        display: block;
        -webkit-box-shadow: -5px -1px 13px 5px rgba(225,226,237,0.86);
        -moz-box-shadow: -5px -1px 13px 5px rgba(225,226,237,0.86);
        box-shadow: -5px -1px 13px 5px rgba(225,226,237,0.86);
        margin-bottom: 5%;
        height:220px;
        padding-top:10px;
        padding-left: 40px;
    }
    .fa3 i{
        color:#ac8222;
    }
.partner-section{
    padding-bottom: 5px;
}
    .card-shadow{
        -webkit-box-shadow: -5px -1px 13px 5px rgba(225,226,237,0.86);
        -moz-box-shadow: -5px -1px 13px 5px rgba(225,226,237,0.86);
        box-shadow: -5px -1px 13px 5px rgba(225,226,237,0.86);
        margin-bottom: 5%;
        height:300px;

    }
    .fixed-button{
        position: fixed;
        bottom:0;
        width:100%;
        padding:10px;
        background: #fff;
        -webkit-box-shadow: -5px -1px 13px 5px #cccccc;
        -moz-box-shadow: -5px -1px 13px 5px #cccccc;
        box-shadow: -5px -1px 13px 5px #cccccc;
    }
     .hide{
        display: block !important;
    }
     .show{
        display: none !important;
    }
     .col-xs-4,.col-xs-6{
         padding: 10px;
     }


    .div-hr {
        margin-left: -3px;
        width: 100%;
    }
    .ons-hide {
        display: none;
    }
    .div-hr-small{
        margin: -15px 0 2px 0;
        width: 15%;
        /*padding-top: -10px;*/
    }
.image_right{
    display: none;
}
.move-up {
    margin-top: -15%;
}
    .partner-section {
        margin-top:0;
        -webkit-box-shadow: -1px -6px 3px -1px rgba(225,226,237,1);
        -moz-box-shadow: -1px -6px 3px -1px rgba(225,226,237,1);
        box-shadow: -1px -6px 3px -1px rgba(225,226,237,1);
    }
    .profile-div{
        margin-top:5%
    }
    .profileMsg{
        margin-top:-18px;
        line-height: 200%;
    }
    .leftAlign{
        padding:0;
        text-align: left;
    }
    .div-hr-map{
        margin-left:0;
        width:40%;
        border-top:2px solid #ffffff;
    }
    .job-section-subdiv {
        margin-top:0;
    }
    .gradient-hr-line {
        margin-top: 15%
    }
    .show{
        display: none !important;
    }
    #social-btn{
        display:none;
    }
    .footer-move-up{
        margin-top:2%
    }
    .footer-div img {
        width:30%;
        height:30%;
    }
    .content-section, .partner-section,.job-section{
        width:100%;
    }
    .network-section{
        width: 85%;
        margin-left:30px;
        margin-right:20px;
    }
    .job-section .col-sm-5{
        padding-left:0;
        padding-right:0;
    }
    .set-col{
        width:42%;
        padding:15px;
        float:left;
        margin-left:15px;
    }
    .opac img{
        width:100%;
        height:100%
    }
    /* -------------------------------------------- */
    /* ------------------Content------------------- */

    /* -------------------------------------------- */
    /* ------------------Footer-------------------- */

    /* -------------------------------------------- */
    /* ------------------Other----------------*---- */
}

@media only screen and (max-width: 380px) {
    .fa3{
        background: none;
        -webkit-box-shadow: -5px -1px 13px 5px rgba(225,226,237,0.86);
        -moz-box-shadow: -5px -1px 13px 5px rgba(225,226,237,0.86);
        box-shadow: -5px -1px 13px 5px rgba(225,226,237,0.86);
        margin-bottom: 5%;
        height:280px;
        padding-top:10px;
         padding-left: 30px;
    }

    .borderedLeft{
        position: absolute;
        top:0;
        right:60px;
        height:54px;
        border-left: 2px solid #AA842B;
    }
}


@media only screen and (max-width: 340px) {
    .fa3{
        background: none;
        -webkit-box-shadow: -5px -1px 13px 5px rgba(225,226,237,0.86);
        -moz-box-shadow: -5px -1px 13px 5px rgba(225,226,237,0.86);
        box-shadow: -5px -1px 13px 5px rgba(225,226,237,0.86);
        margin-bottom: 5%;
        height:280px;
        padding-top:10px;
         padding-left: 30px;
    }

    .borderedLeft{
        position: absolute;
        top:0;
        right:60px;
        height:50px;
        border-left: 2px solid #AA842B;
    }
}